<footer class="bg-nightfall">
  <div class="py-4 text-chalk">
    <div class="container flex items-center justify-between">
      <p class="text-sm text-chalk/60">
        &copy; {new Date().getFullYear()} Rob Cipolla. All rights reserved.
      </p>
    </div>
  </div>
</footer>
