<footer class="bg-hero-gradient">
  <div class="bg-kashmir-blue-700 py-4 text-off-white">
    <div class="container flex items-center justify-between">
      <p class="text-sm">
        &copy; {new Date().getFullYear()} Rob Cipolla. All rights reserved.
      </p>
    </div>
  </div>
</footer>
